.backGround {
  background-image: url('./images/Background-PhotoRoom.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.header {
  align-items: center;
  align-self: start;
  background: rgb(14, 196, 165);
  display: flex;
  flex-direction: line;
  gap: 20px;
  height: 60px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.lupa {
  background: rgb(14, 196, 165);
  border: 2px solid black;
  height: 100%;
}

.buttonEntrar {
  background: rgb(52, 166, 126);
  border: none;
  border-radius: 10px;
  color: rgb(52, 55, 58);
  height: 50px;
}

.ingredients {
  border: 3px solid rgb(14, 196, 165);
  margin-left: 30px;
  margin-right: 30px;
  padding: 3px;
  width: 80%;

}

h2 { margin: 5px; }

.instructions {
  background-color: rgb(14, 196, 165);
  font-size: small;
  padding: 10px;
}

.filter-buton {
  display: flex;
  justify-content: stretch;
  left: 0;
  overflow: scroll;
  position: fixed;
  top: 60px;
  width: 100%;
}

.receitas {
  margin-bottom: 60px;
  margin-top: 120px;
}

/* stylelint-disable-next-line selector-max-specificity */
#input-email, #input-senha {
  border: none;
  border-radius: 10px;
  height: 40px;
}

.movie-yt {
  width: 100%;
}

.buttonFilter {
  background: rgb(14, 196, 165);
  border: solid 1px black;
  border-radius: 1px;
  box-shadow: 0 px 4px 4px black;
  color: black;
  height: 40px;
  position: relative;
  width: 100%;
}

.img-recipes {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.buttonFilter:hover {
  background: rgb(45, 116, 100);
  color: rgb(14, 196, 165);
}

.meals {
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.container {
  align-content: center;
  color: aquamarine;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 350px;
  justify-content: space-evenly;
  text-align: center;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

footer {
  background-color: rgb(14, 196, 165);
  bottom: 0;
  box-shadow: 0 px -1px 10px black;
  color: white;
  left: 0;
  padding: 10px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.img-recipe-details {
  align-content: center;
  background-color: rgb(14, 196, 165);
  display: flex;
  padding: 0 px;
  width: 100%;


}

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

.startRecipeBtn {
  bottom: 0;
  padding-bottom: 64px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.marginBtn {
  border: solid 1px;
  margin-bottom: 64px;
}

.suggestions {

  /* overflow: auto; */

  /* white-space: nowrap; */
  display: inline-block;
  margin-bottom: 10%;
}

.carousel {
  overflow: auto;
  white-space: nowrap;
}

.recipe-name {
  background-color: rgb(14, 196, 165);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0 px -1px 10px black;
  color: black;
  display: flex;
  height: 40px;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  z-index: -2;
}

.imgSuggestion {
  height: auto;
  width: 200px;
}

h3 {
  padding-left: 30px;
  padding-top: 15px;
}

.checked {
  text-decoration: line-through solid black;
}

/* https://blog.betrybe.com/react/react-carousel/ */

/* https://www.w3schools.com/howto/howto_css_menu_horizontal_scroll.asp */
.profile {
  margin-top: 64px;
}
