.backGround {
  background-image: url('./images/Background-PhotoRoom.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.header {
  align-items: center;
  align-self: start;
  background: rgb(14, 196, 165);
  display: flex;
  flex-direction: line;
  gap: 20px;
  height: 60px;
  position: fixed;
}

.lupa {
  background: rgb(14, 196, 165);
  border: 2px solid black;
  height: 100%;
}

.buttonEntrar {
  background: rgb(52, 166, 126);
  border: none;
  border-radius: 10px;
  color: rgb(52, 55, 58);
  height: 50px;
}

.filterButon {
  width: 100%;
}

.filter-buton {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
}

.img-recipes{
  background-color: ;
}

/* stylelint-disable-next-line selector-max-specificity */
#input-email, #input-senha {
  border: none;
  border-radius: 10px;
  height: 40px;
}

.buttonFilter {
  background: rgb(52, 166, 126);
  border: none;
  border-radius: 1px;
  color: black;
  height: 40px;
  margin: 1px;
  width: 100%;
}

.img-recipes {
  width: 100%;
}

.buttonFilter:hover {
  background: rgb(45, 116, 100);
  color: rgb(48, 211, 121);
}

.meals {
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.container {
  align-content: center;
  color: aquamarine;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 350px;
  justify-content: space-evenly;
  text-align: center;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

footer {
  background-color: rgb(14, 196, 165);
  bottom: 0;
  color: white;
  left: 0;
  padding: 10px;
  position: fixed;
  text-align: center;
  width: 100%;
}

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

.startRecipeBtn {
  bottom: 0;
  padding-bottom: 64px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.marginBtn {
  border: solid 1px;
  margin-bottom: 64px;
}

.suggestions {

  /* overflow: auto; */

  /* white-space: nowrap; */
  display: inline-block;
  margin-bottom: 10%;
}

.carousel {
  overflow: auto;
  white-space: nowrap;
}

.imgSuggestion {
  height: auto;
  width: 200px;
}

.checked {
  text-decoration: line-through solid black;
}

/* https://blog.betrybe.com/react/react-carousel/ */

/* https://www.w3schools.com/howto/howto_css_menu_horizontal_scroll.asp */
